@charset 'utf-8';
body {
	background-color: #f3f3f3;
	color: #222;
	font: 14px/1.4 sans-serif;
	text-justify: inter-ideograph;
	text-align: justify;
	line-break: normal;
	word-break: normal;
}
a{color:#38b5cb}

.pc_only{display:none !important}
img,iframe{max-width:100%;height:auto}



/*==============================
	common
==============================*/
div#wrap {
	width: 100vw;
	margin: 0 auto;
}

header {
}

div#eyecatch {
}

div#contents {
}

	div#contents div#cts_main {
	}

	div#contents div#cts_sub {
	}

footer {
}





/*==============================
	contents
==============================*/
/*---------------
	index
---------------*/



/*---------------
	about
---------------*/



/*---------------
	inquiry
---------------*/



/*---------------
	privacy
---------------*/



/*---------------
	sitemap
---------------*/





/*==============================
	other
==============================*/
label.file_upload{
	border: 1px solid #999;
	background-color: #fff;
	padding: 5px;
	display: block;
	text-align: left;
}
label.file_upload > span{
	border: 1px solid #999;
	padding: 0 5px;
	background-color: #ddd;
	line-height: 1;
}
label.file_upload > p{
	display: inline-block;
	text-align: left;
}
input[type='file']{
	display: none;
}



.error {
	color: #cc0044;
	font-weight: bold;
}
.clear::after {
	content: "";
	display: block;
	clear: both;
}