html{overflow-y:scroll;box-sizing:border-box}body{line-height:1;-webkit-text-size-adjust:100%;word-break:break-all;word-wrap:break-word;text-justify:inter-ideograph;text-align:justify}article,aside,audio,canvas,details,figcaption,figure,footer,header,main,menu,nav,progress,section,video{display:block}html,body,address,article,aside,audio,blockquote,canvas,dd,details,div,dl,dt,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,li,main,nav,ol,p,pre,section,table,ul,video{margin:0;padding:0;font-family:inherit;font-size:100%;font-style:normal;font-weight:normal;vertical-align:baseline;border:0;outline:0;background-color:transparent}a,caption,del,embed,iframe,img,label,legend,mark,object,ruby,small,span,sub,sup,svg,td,th,time,tr{margin:0;padding:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;vertical-align:baseline;border:0;outline:0;background-color:transparent}img,svg{vertical-align:bottom;font-size:0;line-height:0}button,input,textarea,select{margin:0;padding:0;font-family:inherit;font-size:100%;font-style:normal;font-weight:normal;vertical-align:middle;border-radius:0;border:1px solid #999;line-height:inherit}sup{vertical-align:text-top}sub{vertical-align:text-bottom}del{text-decoration:line-through}b,em,strong{font-weight:bold}table{border-collapse:collapse;border-spacing:0;width:100%;table-layout:fixed}caption,th{text-align:left}ol,ul{list-style:none}blockquote{quotes:none}blockquote::before,blockquote::after{content:'';content:none}:focus{outline:0}input::-moz-focus-inner{padding:0;border:0}*,*::before,*::after{box-sizing:inherit}

body {
	background-color: #f3f3f3;
	color: #222;
	font: 14px/1.6 Ubuntu, Verdana, "メイリオ", Meiryo, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ ProN W3", sans-serif;
	text-justify: inter-ideograph;
	text-align: justify;
}
a{color:#38b5cb}
#wrap {
	position: relative;
}
nav{
	width: 200px;
	height: 100vh;
	position: fixed;
	padding: 10px 0;
	background-color: #474747;
	color: #f9f9f9;
	line-height: 1;
	font-family: 'Belleza', sans-serif;
}
@media screen and (max-width: 767px) {
	nav{
		width: 100vw;
		height: auto;
		position: relative;
		text-align: center;
	}
	nav li{
		display: inline-block;
	}
}
nav h1{
	text-align: center;
	font-size: 54px;
	text-shadow: 1px 1px 1px #292929, 0px 0px 10px #a9a9a9;
	margin-bottom: 20px;
}
nav a{
	color: #f9f9f9;
	text-decoration: none;
	padding: 10px 20px;
	display: block;
	font-size: 18px;
	letter-spacing: 2px;
	text-shadow: 1px 1px 1px #101010;
}
@media screen and (max-width: 767px) {
	nav a{
		padding: 10px;
	}
}
#nav-tasks:hover, .router-link-exact-active #nav-tasks, .current #nav-tasks{
	border-right: 5px solid #17b4d5;
}
#nav-receipts:hover, .router-link-exact-active #nav-receipts, .current #nav-receipts{
	border-right: 5px solid #09cd49;
}
#nav-monthly:hover, .router-link-exact-active #nav-monthly, .current #nav-monthly{
	border-right: 5px solid #b4d517;
}
@media screen and (max-width: 767px) {
	#nav-tasks:hover, .router-link-exact-active #nav-tasks, .current #nav-tasks{
		border-right: none;
		border-bottom: 5px solid #17b4d5;
		padding-bottom: 5px;
	}
	#nav-receipts:hover, .router-link-exact-active #nav-receipts, .current #nav-receipts{
		border-right: none;
		border-bottom: 5px solid #09cd49;
		padding-bottom: 5px;
	}
	#nav-monthly:hover, .router-link-exact-active #nav-monthly, .current #nav-monthly{
		border-right: none;
		border-bottom: 5px solid #b4d517;
		padding-bottom: 5px;
	}
}
article{
	width: calc(100vw - 220px);
	position: relative;
	left: 200px;
	top: 0;
	padding: 20px;
}
@media screen and (max-width: 767px) {
	article{
		width: 100vw;
		left: 0;
		top: 0;
	}
}
article header h2{
	font-size: 36px;
	letter-spacing: 2px;
	font-family: 'Belleza', sans-serif;
	padding-bottom: 5px;
	line-height: 1;
}
#section-tasks h2{
	border-bottom: 2px solid #17b4d5;
}
#section-receipts h2{
	border-bottom: 2px solid #09cd49;
}
#section-monthly h2{
	border-bottom: 2px solid #b4d517;
}
article header{
	margin-bottom: 10px;
}
article header ul{
	font-size: 0;
	text-align: right;
	margin-top: 5px;
}
article header li{
	display: inline-block;
}
article header li label{
	font-size: 12px;
	display: block;
	margin-left: 5px;
	color: #fff;
	padding: 5px 20px;
	border-radius: 6px;
	text-decoration: none;
	cursor: pointer;
}
article header li label:hover{
	color: #fff;
	opacity: .7;
}
#section-tasks header li label{
	background-color: #17b4d5;
}
#section-receipts header li label{
	background-color: #09cd49;
}
#section-monthly header li label{
	background-color: #b4d517;
}

article section{
	margin-bottom: 20px;
}
article section > div{
	border: 1px solid #dbdbdb;
	background-color: #fff;
	padding: 20px;
	margin-bottom: 10px;
	border-radius: 6px;
}
article section > div h3{
	font-size: 20px;
	margin-bottom: 5px;
	padding-left: 10px;
	line-height: 1.2;
}
#section-tasks > div h3{
	border-left: 5px solid #17b4d5;
}
#section-receipts > div h3{
	border-left: 5px solid #09cd49;
}
#section-monthly > div h3{
	border-left: 5px solid #b4d517;
}
article section > div > p{
	font-size: 12px;
	color: #818181;
	margin-bottom: 15px;
}
article section > div > p span{
	margin-right: 10px;
}

section aside{
	margin-top: 10px;
}
section aside ul{
	font-size: 0;
	text-align: right;
	margin-top: 5px;
}
section aside li{
	display: inline-block;
}
section aside li a{
	font-size: 12px;
	display: block;
	margin: 0 0 5px 5px;
	color: #fff;
	padding: 5px 20px;
	border-radius: 6px;
	text-decoration: none;
}
section aside li a:hover{
	color: #fff;
	opacity: .7;
}
#section-tasks aside li a{
	background-color: #17b4d5;
}
#section-receipts aside li a{
	background-color: #09cd49;
}
#section-monthly aside li a{
	background-color: #b4d517;
}

footer{
	text-align: center;
}



/* form */
.form-wrap {
	width: 100%;
	display: block;
}
.form-wrap > div{
	margin-bottom: 20px;
}
.form-wrap input[type="text"], .form-wrap input[type="select"], .form-wrap textarea {
	width: 100%;
	display: block;
	padding: 5px 10px;
	border: 1px solid #dbdbdb;
	border-radius: 6px;
}
.form-wrap input[type="submit"]{
	padding: 5px 20px;
	cursor: pointer;
}
.form-wrap > div{
	margin-bottom: 20px;
}



/* modal */
.modal-wrap input[type='checkbox'] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: none;
}

.modal-wrap .toggle-on:checked {
	position: fixed;
	overflow-y: auto;
	display: block;
	background-color: rgba(0, 0, 0, .5);
	width: 100vw;
	height: 100vh;
	z-index: 999;
	top: 0;
	left: 0;
}
.modal-wrap .modal-window {
	display: none;
	position: fixed;
	top: 0;
	left: 10vw;
	overflow-y: auto;
	width: 80vw;
	max-height: 90vh;
	background-color: #fff;
	margin: 5vh auto;
	padding: 20px;
	z-index: 9999;
}
.modal-wrap .toggle-on:checked + .modal-window {
	display: block;
}



/* 旧モーダル
article header li a{
	font-size: 12px;
	display: block;
	margin-left: 5px;
	color: #fff;
	padding: 5px 20px;
	border-radius: 6px;
	text-decoration: none;
}
article header li a:hover{
	color: #fff;
	opacity: .7;
}
#section-tasks header li a{
	background-color: #17b4d5;
}
#section-receipts header li a{
	background-color: #09cd49;
}
#section-monthly header li a{
	background-color: #b4d517;
}



.modal-mask {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	display: table;
	transition: opacity .3s ease;
}

.modal-wrapper {
	display: table-cell;
	vertical-align: middle;
}

.modal-container {
	width: 70vw;
	margin: 0px auto;
	padding: 20px 30px;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .3);
	transition: all .3s ease;
}

.modal-header h3 {
	margin-top: 0;
	color: #42b983;
}

.modal-body {
	margin: 20px 0;
}

.modal-default-button {
	text-align: right;
}
.modal-default-button button{
	padding: 5px 20px;
	cursor: pointer;
}



.modal-enter {
	opacity: 0;
}

.modal-leave-active {
	opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

*/
